<img align="right" src="https://raw.githubusercontent.com/dcblum/OpenStreetMap/master/IrvineMapBoundaries.PNG" title="Irvine Map Extract Area">

# OpenStreetMap Case Study with SQL

### Map Area: Irvine, California

City Boundaries:
* https://www.openstreetmap.org/relation/114485

Map Extract Website:
* https://mapzen.com/data/metro-extracts-alt/

The Map Extract data extends beyond Irvine City limits in the shape of a rectangle. For the purpose of this dataset the any data in the given rectangular picture is considered to be in Irvine.

#### Contents
 - [Problems Encountered](#problems-encountered)

### Problems Encountered:

After running the data agaisnt the given data.py file, a few problems were found:
* Inconsistent use of abbreviations: ex. "Rd.", "Rd", and "Road" to all indicate "Road"
* Use of "St." indicating both "Street" and "Saint"
* Unicode street and postcode data containing (street = 'Rue Jean Jaur\xe8s' and postcode = '92626\xad)
* Postcode data contaning non-integer characters such as letters and hyphens: ex. "CA 92701" and "92610-3437"

 Number of Unique Users:
        2315

### Street Names:

The OSM file of Irvine was audited via audit.py to help correct inconsistent use of abbreviations. 

To help filter results, all street names contained in list "expected" were skipped during the auditing process. Names were added by the user to the "expected" list after each audit to further filter results.

In [26]:
expected = ["Street", "Avenue", "Boulevard", "Drive", "Court", "Place", "Square", "Lane", "Road", "Trail", "Parkway", "Ridge", 
            "Commons", "Way", "Vista", "Terrace", "Circle", "Glen", "Grove", "Hill", "South", "East", "West", "North", "Tree", 
            "Valley", "Creek", "Canyon", "Brook", "Bloom", "Springs", "Verde", "Arbor", "Center", "Loop"]

In [32]:
import sqlite3
import pandas as pd

# Fetch records from the database
db = sqlite3.connect("IrvineMaps.db")
c = db.cursor()
QUERY = ( 
    "SELECT tags.value, COUNT(*) as count "
    "FROM (SELECT * FROM nodes_tags UNION ALL SELECT * FROM ways_tags) tags "
    "WHERE tags.key='postcode' "
    "GROUP BY tags.value "
    "ORDER BY count DESC "
    "LIMIT 10;"
    )
c.execute(QUERY)
rows = c.fetchall()
    
df = pd.DataFrame(rows)
print df

       0      1
0  92630  14813
1  92620   7506
2  92618   7236
3  92602   4780
4  92606   2350
5  92610   1601
6  92604    992
7  92614    869
8  92603    738
9  92782    700

In [28]:
QUERY = ( 
    "SELECT tags.value, COUNT(*) as count "
    "FROM (SELECT * FROM nodes_tags UNION ALL SELECT * FROM ways_tags) tags "
    "WHERE tags.key LIKE '%city' "
    "GROUP BY tags.value "
    "ORDER BY count DESC "
    "LIMIT 10;"
    )
c.execute(QUERY)
rows = c.fetchall()
    
df = pd.DataFrame(rows)
print df

                    0      1
0              Irvine  25346
1         Lake Forest  14552
2      Foothill Ranch   1601
3              Tustin   1012
4  Wólka Niedźwiedzka    116
5           Santa Ana    106
6              Orange     92
7       Mission Viejo     60
8          Costa Mesa     54
9       Newport Beach     40